body {
    font-size: 15px;
}

.center {
    width: 50%;
    margin: 0 auto;   
}

.flexable {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
}