<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">    
    <link rel="stylesheet" href="style.css">

    <title>PENTIX++</title>
    <!--libs-->
    <link rel="stylesheet" href="libs/css/google-material.css">
    <link rel="stylesheet" href="libs/css/vue-material.css">
    <link rel="stylesheet" href="libs/css/vue-material-default.css">
    <script src="libs/svg.min.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/socket.io.js"></script>
    <!--end libs-->

    <!--internal-->
    <script src="additional/assemblies.js"></script>
    <script src="additional/reactor.js"></script>
    <script src="additional/matrix.js"></script>
    <script src="classes/commands.js"></script>
    <script src="classes/controllers/controller.js"></script>
    <script src="classes/controllers/controller_keyboard.js"></script>
    <script src="classes/board.js"></script>    
    <script src="classes/figures/figure.js"></script>
    <script src="classes/game.js"></script>        
    <script src="classes/renderer.js"></script>        
    <script src="classes/statistic_miner.js"></script>    
    <script src="classes/p2p/client.js"></script>    
    <!--end internal-->
  </head>

  <body>
    <div id="app" style="position: absolute; bottom: 10px; left: 10px; top: 10px; right: 10px">            
        <div id="left_column" style="position: absolute; left: 10px; top: 10px">            
            <div id="div_controls" style="float: right">
                    Glass width:<br>
                    {{ board_width }} cells<br>
                    <input type="range" min="12" max="25" v-model="board_width" v-on:mouseup="updateBoardSize" class="slider">
                    <br>
                    Sliding interval:<br>
                    {{ board_height }} cells<br>
                    <input type="range" min="15" max="30" v-model="board_height" v-on:mouseup="updateBoardSize" class="slider">
                    <br>
                    Fall speed:<br>
                    {{ fall_speed }} cells/second<br>
                    <input type="range" min="1" max="20" v-model="fall_speed" class="slider">
                    <br>  
                    Start sliding delay:<br>
                    {{ sliding_start_delay }} milliseconds<br>
                    <input type="range" min="1" max="350" v-model="sliding_start_delay" class="slider">
                    <br>
                    Sliding interval:<br>
                    {{ sliding_interval }} milliseconds<br>
                    <input type="range" min="1" max="100" v-model="sliding_interval" class="slider">
                    <br>                      
            </div> 
        </div>   
        <div id="center_column" style="position: absolute; right: 150px; left: 150px; bottom: 10px; top: 10px;">
            <div id="div_gameboard" style="height: 100%"></div>                                             
        </div> 
        <div id="right_column" style="position: absolute; left: 10px; top: 10px">
            <div style="">
                <div id="div_game_stats">
                        Lines done: {{lines_done}}/{{lines_need}}<br>
                        Game duration: {{game_duration}}<br>
                        <md-button class="md-raised md-accent" v-on:click="restart">Restart</md-button>
                </div><br>
                <div id="div_figure_preview"></div>                       
            </div>
        </div>
    </div>
    
    <script src="libs/vue.js"></script>
    <script src="libs/vue-material.js"></script>    
    <script src="main.js"></script>
    <script>
        //UI script
        $('.slider').on('mouseup' , function(){
            this.blur();
        });

        var padding = 10;
        setInterval(() => {
            var leftColumn = $("#left_column");
            var centerColumn = $("#center_column");
            var rightColumn = $("#right_column");
            var app = $("#app");

            centerColumn.css("width", centerColumn.children().width())
            centerColumn.css("left", app.width() / 2 - centerColumn.width() / 2)
            leftColumn.css("right", parseFloat(centerColumn.css("left").replace("px","")) + centerColumn.width() + padding)
            rightColumn.css("left", parseFloat(centerColumn.css("left").replace("px","")) + centerColumn.width() + padding);                                    
        }, 100);
    </script>
  </body>
</html>