<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">    
    <link rel="stylesheet" href="style.css">

    <title>PENTIX++</title>
    <!--libs-->
    <link rel="stylesheet" href="libs/css/google-material.css">
    <link rel="stylesheet" href="libs/css/vue-material.css">
    <link rel="stylesheet" href="libs/css/vue-material-default.css">
    <script src="libs/svg.min.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/socket.io.js"></script>
    <script src="libs/cookies.js"></script>    
    <!--end libs-->

    <!--internal-->
    <script src="additional/assemblies.js"></script>
    <script src="additional/reactor.js"></script>
    <script src="additional/matrix.js"></script>
    <script src="classes/commands.js"></script>
    <script src="classes/controllers/controller.js"></script>
    <script src="classes/controllers/controller_keyboard.js"></script>
    <script src="classes/board.js"></script>    
    <script src="classes/figures/figure.js"></script>
    <script src="classes/game.js"></script>        
    <script src="classes/renderer.js"></script>        
    <script src="classes/statistic_miner.js"></script>    
    <script src="classes/p2p/client.js"></script>    
    <!--end internal-->
  </head>

  <body>
    <div id="app" v-on:click="showDropDown=false" style="position: absolute; bottom: 10px; left: 10px; top: 10px; right: 10px">            
        <div v-if="showDropDown" v-on:click.stop="" style="position: absolute; background: white; z-index:10; border-radius: 3%; left: 10px; top: 10px">
                <md-color-picker
                    @change="changeColor"
                    ref="colorPicker"
                    color-margin="6" 
                    colors-per-row="5" 
                    color-size="54" 
                    default-tint="500" 
                    fixedMinHeight="true" 
                    palette="material-full" 
                    use-spectrum-picker="true" 
                    value="#eeff41">
                <md-color-picker>
            </div>
        <div id="left_column" style="position: absolute; left: 10px; top: 10px">            
            <div id="div_controls" style="float: right; width: 135px" v-if="!showDropDown">                                    
                <div>
                    Glass width:<br>
                    {{ board_width }} cells<br>
                    <input type="range" min="12" max="25" v-model="board_width" v-on:mouseup="updateBoardSize" class="slider">
                    <br>
                    Glass height:<br>
                    {{ board_height }} cells<br>
                    <input type="range" min="15" max="30" v-model="board_height" v-on:mouseup="updateBoardSize" class="slider">
                    <br>
                    Glass filled height:<br>
                    {{ filled_lines }} lines<br>
                    <input type="range" min="0" max="30" v-model="filled_lines" class="slider">
                    <br>
                    Glass fill density:<br>
                    {{ Math.floor(fill_chance * 100)}}%<br>
                    <input type="range" min="0.0" max="1.0" step=0.1 v-model="fill_chance" class="slider">
                    <br>
                    Lines to win:<br>
                    {{ lines_need }} lines<br>
                    <input type="range" min="5" max="40" v-model="lines_need" class="slider">
                    <br>
                    Fall speed:<br>
                    {{ fall_speed }} cells/second<br>
                    <input type="range" min="1" max="20" v-model="fall_speed" class="slider">
                    <br>  
                    Start sliding delay:<br>
                    {{ sliding_start_delay }} milliseconds<br>
                    <input type="range" min="1" max="350" v-model="sliding_start_delay" class="slider">
                    <br>
                    Sliding interval:<br>
                    {{ sliding_interval }} milliseconds<br>
                    <input type="range" min="1" max="100" v-model="sliding_interval" class="slider">
                    <br>
                    Sub-net step:<br>
                    {{ sub_net_step }} cells<br>
                    <input type="range" min=1 max=10 v-model="sub_net_step" v-on:mouseup="updateSubNet" class="slider">
                    <br>
                    <md-switch v-model="horizontal_sub_net">Horizontal Sub-Net</md-switch>
                    <br> 
                </div>                     
            </div> 
        </div>   
        <div id="center_column" style="position: absolute; right: 150px; left: 150px; bottom: 10px; top: 10px;">
            <div id="div_gameboard" style="height: 100%"></div>                                             
        </div> 
        <div id="right_column" style="position: absolute; left: 10px; top: 10px">            
            <div>
                <div id="div_game_stats">
                        Lines done: {{lines_done}}/{{lines_need}}<br>
                        Game duration: {{game_duration}}<br>
                        <md-button class="md-raised md-accent" style="margin-left: 0px" v-on:click="restart">Restart</md-button>
                </div><br>
                <div id="div_figure_preview" style="width: 10px; height: 100px"></div>                       
                <br>
                <md-button v-on:click.stop="" v-bind:style="{ background: colors.glass, color: alt_colors.glass}" class="md-dense md-primary" style="margin-left: 0px" v-on:click="showDropDown=true;colorChoosing='glass'">
                    Glass color
                </md-button>
                <br>
                <md-button v-on:click.stop="" v-bind:style="{ background: colors.net, color: alt_colors.net}" class="md-dense md-primary" style="margin-left: 0px" v-on:click="showDropDown=true;colorChoosing='net'">
                    Net color
                </md-button>
                <br>
                <md-button v-on:click.stop="" v-bind:style="{ background: colors.figure, color: alt_colors.figure}" class="md-dense md-primary" style="margin-left: 0px" v-on:click="showDropDown=true;colorChoosing='figure'">
                    Figure color
                </md-button>
                <br>
                <md-button v-on:click.stop="" v-bind:style="{ background: colors.fill, color: alt_colors.fill}" class="md-dense md-primary" style="margin-left: 0px" v-on:click="showDropDown=true;colorChoosing='fill'">
                    Fill color
                </md-button><br>
                Glass opacity:<br>
                {{ Math.floor(opacities.glass * 100) }}%<br>
                <input type="range" min=0 max=1 step=0.1 v-model="opacities.glass" v-on:mouseup="updateOpacities" class="slider">
                <br>              
                Net opacity:<br>
                {{ Math.floor(opacities.net * 100) }}%<br>
                <input type="range" min=0 max=1 step=0.1 v-model="opacities.net" v-on:mouseup="updateOpacities" class="slider">
                <br>
                Figure opacity:<br>
                {{ Math.floor(opacities.figure * 100)}}%<br>
                <input type="range" min=0 max=1 step=0.1 v-model="opacities.figure" v-on:mouseup="updateOpacities" class="slider">
                <br>
                Filled opacity:<br>
                {{ Math.floor(opacities.fill * 100) }}%<br>
                <input type="range" min=0 max=1 step=0.1 v-model="opacities.fill" v-on:mouseup="updateOpacities" class="slider">
                <br>
            </div>
        </div>
    </div>
    
    <script src="libs/vue.js"></script>
    <script src="libs/vue-material.js"></script>    
    <script src="libs/color-picker.js"></script>
    <script src="main.js"></script>
    <script>
        //UI script
        $('.slider').on('mouseup' , function(){
            this.blur();
        });

        var padding = 10;
        setInterval(() => {
            var leftColumn = $("#left_column");
            var centerColumn = $("#center_column");
            var rightColumn = $("#right_column");
            var app = $("#app");

            centerColumn.css("width", centerColumn.children().width())
            centerColumn.css("left", app.width() / 2 - centerColumn.width() / 2)
            leftColumn.css("right", parseFloat(centerColumn.css("left").replace("px","")) + centerColumn.width() + padding)
            rightColumn.css("left", parseFloat(centerColumn.css("left").replace("px","")) + centerColumn.width() + padding);                                    
        }, 100);
    </script>
  </body>
</html>